<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Combo Meals</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" th:href="@{style.css}"/>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="#">FoodeBar</a>
              <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" th:href="@{/cart}">&#128722;<span class="counter"></span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Login/Register</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        
        <div class="container-fluid darken">
            <h4>FoodeBar Treats</h4>
        </div>
       
        <div class="space"></div>
     
        <center><h5 class="intro">Combo Meals</h5></center>
        <center class="spacer"><hr /></center>
        
        <div class="d-flex justify-content-center meals-category inner-products">
            <div class="card text-center" style="width: 18rem;" th:each="product : ${products}">
                <img th:src="@{/img/}+${product.productThumb}" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <form action="#" th:action="@{/combo-meal}" method="post" th:object="${order}" class="order-form">
                        <input type="hidden" th:value="${product.id}" th:name="orders" id="productid"/>
                        <input type="hidden" th:value="${product.price}" id="price">
                        <h5 class="card-title" th:text="${product.productName}"></h5>
                        <small class="card-text" th:text="${product.description}"></small>
                        <p class="card-text price" th:text="${product.price}"></p>
                        <input type="number" name="qty" placeholder="0"/>
                        <p></p>
                        <input type="submit" value="Buy" class="btn btn-primary btn-sm"/>
                    </form>
                </div>
            </div>
        </div>
                
        <div class="space"></div>
        
        <footer class="bg-dark text-center text-lg-start text-white">
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2022 Copyright:
              <a class="text-white" href="https://github.com/cjalonzaga" target="_blank">crisjohnalonzaga</a>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  
        <script>
            jQuery(document).ready(function($){
                 $('.btn-primary').on('click' , function(e){
                     e.preventDefault();
                     $(this).each(function(){  
                        let qty = $(this).siblings('input[name="qty"]').val();
                        let prod = $(this).siblings('#productid').val();
                        let pname = $(this).siblings('h5.card-title').text();
                        //console.log(qty+ " " + prod);
                        let prod_price = $(this).siblings('#price').val();
                       
                        let total = prod_price * qty;
                        //console.log(total);
                        hasOrder();
                        if(qty !== -1 && prod !== '' && prod_price !== ''){
                            $.ajax({
                             method : 'POST',
                             url : 'http://localhost:8080/getorders',
                             data : {
                                 quantity : qty,
                                 productid : prod,
                                 prodname : pname,
                                 price : total
                             },
                             success : function(res) {
                                 console.log(res);
                                 $('input[name="qty"]').val("");
                             }
                         });
                        }
                        
                     });
                 });
                 
                 
                 function hasOrder(){
                     sessionStorage.setItem("hasOrder", true);
                     setNotif();
                 }
                 
                 
                 
                 function setNotif(){
                    let order = sessionStorage.getItem("hasOrder");
                    if(order){
                        $('.counter').addClass('notif');
                     } 
                 }
                 
                 setNotif();
            });
        </script>
    </body>
</html>
